<html lang="en">
{% extends 'index.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table border="1px" class="table table-striped">
                      <thead>
                        <tr>
                             <th>
                            Description
                          </th>
                          <th>
                            Type
                          </th>
                             <th>
                            Image
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>
                            <td>
                            {{d.Description}}
                          </td>
                          <td>
                            {{d.Type}}
                          </td>
                            <td class="py-1">
                            <img src="{{d.Image.url}}" alt="image">
                          </td>
                          <td>
                           <form action="{% url 'editroomt' dataid=d.id %}">
                               <button type="submit" class="btn btn-success">Edit</button>
                                </form>&nbsp;<form action="{% url 'deleteroomt' dataid=d.id %}">
                               <button onclick="alertmsg()" type="submit" class="btn btn-danger">Delete</button>
                                </form>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}